<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="{{ site.baseurl }}/" class="logo">
      {% if site.logo %}
      <img src="{{ site.logo | prepend: site.baseurl }}" alt="{{ site.title }}">
      {% else %}
      <span>{{ site.title }}</span>
      {% endif %}
    </a>
    <div class="site-category">
    			<ul class='cat1'>
            <li><a href="/about/">About</a>
    				<li><a href="/tag/Data Science">Data Science</a>
    					<ul>
    						<li><a href="/category/machine-learning/">ML</a></li>
                <li><a href="/category/deep-learning/">DL</a></li>
                <li><a href="/category/reinforcement-learning/">RL</a></li>
                <li><a href="/category/Statistics/">Statistics</a></li>
                <li><a href="/category/Visualization">Visualization</a></li>
    					</ul>
    				</li>

    				<li><a href="/tag/Mathematics">Mathematics</a>
    					<ul>
    						<li><a href="/category/Linear Algebra/">Linear Algebra</a></li>
                <li><a href="/category/Calculus">Calculus</a></li>
    					</ul>
    				</li>

    				<li><a href="tag/projects/">Projects</a>

    		</div>
</header>






<div class="site-category">
			<ul class='cat1'>
				<li><a href="#">Home</a></li>
				<li><a href="#">Python</a>
					<ul>
						<li><a href="#">Python-crawler</a></li>
						<li><a href="#">Django</a></li>
						<li><a href="#">Tensorflow</a></li>
					</ul>
				</li>

				<li><a href="#">Data Science</a>
					<ul>
						<li><a href="#">Machine Learning</a></li>
					</ul>
				</li>

				<li><a href="/tag/Development Environment/">Development Enviroment</a>
					<ul>
						  <li><a href="/category/Github Blog">Github Blog</a></li>
						  <li><a href="/category/Git">Git</a></li>
						  <li><a href="/category/Docker">Docker</a></li>

					</ul>
				</li>

				<li><a href="#">Android</a></li>

			</ul>
		</div>
