<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="{{ site.baseurl }}/" class="logo">
      {% if site.logo %}
      <img src="{{ site.logo | prepend: site.baseurl }}" alt="{{ site.title }}">
      {% else %}
      <span>{{ site.title }}</span>
      {% endif %}
    </a>
    <div class="site-category">
    			<ul class='cat1'>
            <li><a href="/about/">About</a>
    				<li><a href="/tag/data-science">Data Science</a>
    					<ul>
    						<li><a href="/category/machine-learning/">Machine Learning</a></li>
                <li><a href="/category/deep-learning/">Deep Learning</a></li>
                <li><a href="/category/reinforcement-learning/">Reinforcement Learning</a></li>
                <li><a href="/category/statistics/">Statistics</a></li>
                <li><a href="/category/visualization">Visualization</a></li>
    					</ul>
    				</li>

    				<li><a href="/tag/mathematics">Mathematics</a>
    					<ul>
    						<li><a href="/category/linear-algebra/">Linear Algebra</a></li>
                <li><a href="/category/calculus">Calculus</a></li>
    					</ul>
    				</li>
        </div>
</header>
